.auth-form {
    margin-top: 20%;
    width: 340px;
}
.auth-form-body {
    background-color: #161b22;
    border: 1px solid #21262d;
    border-radius: 6px;
    padding: 16px;
    color: #ffffff;
}
.field + .btn {
    margin-top: 20px;
}